In [1]:
import pandas as pd
import numpy as np

train_file = './train.tsv'

train = pd.read_csv(train_file, sep='\t')

In [2]:
from sklearn.preprocessing import LabelEncoder
from keras.utils import np_utils

def categorinizer(df, 
                  col_lists=[
                      'brand_name', 
                      'general_cat', 
                      'subcat_1', 
                      'subcat_2'
                  ]):
    for col in col_lists:
        df[col] = \
            df[col].apply(lambda x: str(x))
        encoder = LabelEncoder()
        encoder.fit(df[col])
        df[col] = encoder.transform(df[col])
        del encoder
    
    return df

def split_cat(text):
    try: return text.split("/")
    except: return ("No Label", "No Label", "No Label")

train['general_cat'], train['subcat_1'], train['subcat_2'] = \
    zip(*train['category_name'].apply(lambda x: split_cat(x)))

# remove missing values in item description
train = train[pd.notnull(train['item_description'])]

Using TensorFlow backend.

In [5]:
train['item_description'] = train['name'] + ' ' + train['item_description']
train_data = categorinizer(train)
train_data = train_data.drop(columns=['name', 'category_name', 'train_id'])

In [6]:
train_data.head()

,item_condition_id,brand_name,price,shipping,item_description,general_cat,subcat_1,subcat_2
0,3,4210,10.0,1,MLB Cincinnati Reds T Shirt Size XL MLB Cincin...,6,6,738
1,3,2843,52.0,0,Razer BlackWidow Chroma Keyboard Razer BlackWi...,1,38,127
2,1,3536,10.0,1,AVA-VIV Blouse AVA-VIV Blouse Adorable top wit...,2,7,865
3,1,4210,35.0,1,Leather Horse Statues Leather Horse Statues Ne...,4,65,340
4,1,4210,44.0,0,24K GOLD plated rose 24K GOLD plated rose Comp...,2,68,486